# Exclude the data folder
data/

# Exclude Python cache files
__pycache__/
*.pyc
*.pyo

# Exclude virtual environments
.venv/

# Exclude version control files
.git
.gitignore

# Exclude other unnecessary files
*.log
*.sqlite3
