.env
.venv
data/**/*
!data/
!data/*/
!data/*/*/
!data/*/*/*/
!data/Test/*/**
**/*/__pycache__/
!**/*/.gitkeep
!data/raw/mp3/.gitkeep
launch.json
*.crt
*.log
__pycache__/
*.blend1
*.ipynb
design/dashboard_layout.drawio.svg
podology/assets/wordclouds/*
podology/assets/scrollvids/*
**/*/*.db
**/*/*.rss
