.result-card-body {
    padding-top: 2px;
    padding-bottom: 2px;
}

.result-card-citation-text {
    margin-bottom: 0;
    font-size: small;
}

.result-card-location-text {
    margin-bottom: 0;
}

.card-button {
    color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}

/* Remove top border from dbc.Card element that contains all Tab contents */
.no-top-border {
    border-top: none !important;
    border-radius: 0 0 10px 10px;
    border-color: rgb(222, 226, 230);
}

/* .card-button :active {
    box-shadow: none;
    background-color: transparent;
}
.card-button :hover {
    box-shadow: none;
    background-color: transparent;
} */


.speaker-00 {
    background-color: #e3f2fd;
    border-radius: 4px;
    padding: 8px;
}

.speaker-01 {
    background-color: #fff3e0;
    border-radius: 4px;
    padding: 8px;
}

.speaker-02 {
    background-color: #ffebee;
    border-radius: 4px;
    padding: 8px;
}

.speaker-03 {
    background-color: #f1f8e9;
    border-radius: 4px;
    padding: 8px;
}

/*
Search term_colorid tags
*/
.term-item {
    display: flex;
    align-items: center;
    padding: 6px 10px 6px 28px;
    margin: 4px 2px;
    border: 0;
    border-radius: 20px;
    background-color: #f3f3f3;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
    white-space: nowrap;  /* Prevent text from wrapping */
    overflow: hidden;     /* Hide overflow text */
    text-overflow: ellipsis;  /* Add ellipsis to cropped text */
    flex-shrink: 0;  /* Allow the item to shrink if necessary */
    max-width: 100%;  /* Ensure it fits within the container */
    /*width: 100%;*/
    box-sizing: border-box;
}

.term-item::before {
    content: "";
    width: 20px;
    height: 40px;
    border-radius: 16px 0 0 16px;
    position: absolute;
    left: 0;
    top: 0;
}

.term-color-0::before { background-color: #4c72b0; }
.term-color-1::before { background-color: #3aba57; }
.term-color-2::before { background-color: #c53a5b; }
.term-color-3::before { background-color: #8172b3; }
.term-color-4::before { background-color: #bfa545; }
.term-color-5::before { background-color: #64b5cd; }
.term-color-6::before { background-color: #6c4c20; }
.term-color-7::before { background-color: #e37c4d; }
.term-color-8::before { background-color: #555555; }
.term-color-9::before { background-color: #606805; }

/*
Term tag alignment within their container
*/
.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}