.result-card-body {
    padding-top: 2px;
    padding-bottom: 2px;
}

.result-card-citation-text {
    margin-bottom: 0;
    font-size: small;
}

.result-card-location-text {
    margin-bottom: 0;
}

.card-button {
    color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}


/* .card-button :active {
    box-shadow: none;
    background-color: transparent;
}
.card-button :hover {
    box-shadow: none;
    background-color: transparent;
} */


.speaker-00 {
    background-color: #e3f2fd;
    border-radius: 4px;
    padding: 8px;
}

.speaker-01 {
    background-color: #fff3e0;
    border-radius: 4px;
    padding: 8px;
}

.speaker-02 {
    background-color: #ffebee;
    border-radius: 4px;
    padding: 8px;
}

.speaker-03 {
    background-color: #f1f8e9;
    border-radius: 4px;
    padding: 8px;
}